article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.body {
  width: 100vw;
  margin: 0;
  background-color: #010b1f;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
}

.navbar {
  background-color: #010b1f !important;
  width: 100%;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
}
.navbar .nav-item {
  margin-right: 30px !important;
}
@media (min-width: 992px) {
  .navbar .nav-item:last-of-type {
    margin-right: 0 !important;
  }
}
.navbar .logo {
  width: 91px;
  height: 63px;
  margin-left: 10px;
}
.navbar .navbar-nav {
  text-decoration: none;
  text-align: center;
}
.navbar .nav-link {
  font-family: "Noto Sans", sans-serif;
  size: 20px;
  color: #F8F8F8 !important;
}
.navbar .navbar-toggler {
  margin: 12px;
}

.inicio {
  padding-left: 30px;
  padding-right: 30px;
}
.inicio .video {
  width: 100%;
  height: 652px;
  padding-top: 45px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .inicio .video {
    height: 400px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .inicio .video {
    height: 250px;
  }
}
.inicio .lorem_1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  color: #F8F8F8;
  top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.inicio .wsp {
  position: fixed;
  z-index: 999;
  bottom: 10px;
  right: 30px;
  width: 60px;
  height: 60px;
}

.sec2 {
  margin-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.sec2 .que_hago {
  text-align: center;
  font-size: 40px;
  color: #F8F8F8;
}
.sec2 .flex-centrador {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.sec2 .flex-centrador h2 {
  margin-top: 15px;
  font-size: 24px;
  width: 50%;
  font-family: "Noto Serif", serif;
  color: #F8F8F8;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sec2 .flex-centrador h2 {
    width: 100%;
  }
}
.sec2 .flex-centrador p {
  margin-top: 15px;
  font-size: 18px;
  width: 50%;
  color: #F8F8F8;
  font-family: "Noto Sans", sans-serif;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sec2 .flex-centrador p {
    width: 100%;
  }
}
.sec2 .centrar {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}
.sec2 .centrar.audio {
  width: 150px;
  height: 150px;
  margin-top: -5px;
}
@media (min-width: 992px) and (max-width: 1360px) {
  .sec2 .centrar.audio {
    margin-top: -5px;
  }
}
.sec2 .centrar.foto {
  width: 180px;
}

.secporta {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.secporta .portafolio {
  margin-top: 60px;
  text-align: center;
  font-size: 40px;
  color: #F8F8F8;
}
.secporta .lorem_2 {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
  color: #F8F8F8;
}
.secporta .flex-centrador {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.secporta .flex-centrador h2 {
  margin-top: 15px;
  font-size: 24px;
  color: #F8F8F8;
  width: 50%;
}
.secporta .centrar {
  width: 210px;
  height: 300px;
  display: block;
  margin: 0;
  transition: transform 0.5s;
  cursor: pointer;
}
.secporta .centrar:hover {
  transform: scale(1.4);
}
@media (min-width: 320px) and (max-width: 991px) {
  .secporta .modal {
    width: 300px;
    height: auto;
  }
}
.secporta .modal h5 {
  width: 100%;
  font-size: 40px;
  text-align: center !important;
  font-family: "Noto Serif", serif;
}
.secporta .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #c98b06;
  color: #010b1f;
}
.secporta .modal-body .ver {
  color: #F8F8F8;
}
.secporta .modal-body p {
  font-size: 24px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 991px) {
  .secporta .modal-body iframe {
    width: 200px;
    height: auto;
  }
}
.secporta .modal-body img {
  width: 400px;
  height: auto;
}
@media (min-width: 320px) and (max-width: 991px) {
  .secporta .modal-body img {
    width: 200px;
    height: auto;
  }
}
.secporta .btn-secondary {
  background-color: #f54e34;
  margin-right: 35px;
}

.contenedor-clientes {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("img/FONDO.png");
  background-size: contain;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contenedor-clientes {
    background-size: cover;
  }
}

.cli .clientes {
  margin-top: 60px;
  text-align: center;
  font-size: 40px;
  color: #F8F8F8;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cli .clientes {
    font-size: 36px;
  }
}
.cli .lorem_clie {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
  color: #F8F8F8;
}
.cli .clies {
  list-style: none;
  list-style-image: none;
  list-indent: 0;
  list-style-type: none;
  list-style-position: outside;
  padding-inline-start: 0px;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  margin-top: 30px !important;
  margin-bottom: 60px !important;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 141px;
  width: 100%;
  list-style: none;
  animation: carrusel 20s infinite alternate;
}
.cli .clies li {
  list-style: none;
  list-style-image: none;
  list-indent: 0;
  list-style-type: none;
  list-style-position: outside;
  padding-inline-start: 0px;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding: 0;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cli .clies li {
    margin: 5%;
  }
}
@keyframes carrusel {
  0% {
    margin-left: 0%;
  }
  10% {
    margin-left: 0%;
  }
  15% {
    margin-left: -20%;
  }
  25% {
    margin-left: -20%;
  }
  30% {
    margin-left: -40%;
  }
  40% {
    margin-left: -40%;
  }
  45% {
    margin-left: -60%;
  }
  55% {
    margin-left: -60%;
  }
  60% {
    margin-left: -80%;
  }
  70% {
    margin-left: -80%;
  }
  75% {
    margin-left: -100%;
  }
  85% {
    margin-left: -100%;
  }
  90% {
    margin-left: -105%;
  }
  100% {
    margin-left: -105%;
  }
}
.cli .clies .img {
  width: 120px;
  height: 120px;
  border-radius: 60PX;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cli .clies .img {
    margin-top: 0;
    width: 70px;
    height: 70px;
  }
}

.sec_cont {
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("img/IMG_6062_2.jpg");
  background-size: cover;
  box-shadow: 0 0 2px 2px #7a694d inset;
}
.sec_cont .contacto {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  color: #F8F8F8;
}
@media (min-width: 320px) and (max-width: 767px) {
  .sec_cont .contacto {
    font-size: 32px;
  }
}
.sec_cont .lorem_cont {
  margin-top: 15px;
  font-size: 24px;
  text-align: center;
  color: #F8F8F8;
}
.sec_cont .formulario .contact {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.sec_cont .formulario .input {
  width: 865px;
  height: 60px;
  margin-top: 30px;
  font-size: 40px;
  font-family: "Noto Sans", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border: solid 1px #F8F8F8;
  color: #F8F8F8;
  background-color: transparent;
}
.sec_cont .formulario .input::placeholder {
  color: #F8F8F8;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sec_cont .formulario .input {
    width: 650px;
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sec_cont .formulario .input {
    width: 230px;
    font-size: 20px;
  }
}
.sec_cont .formulario .consulta {
  width: 865px;
  height: 170px;
  font-size: 40px;
  font-family: "Noto Sans", sans-serif;
  margin-top: 30px;
  resize: none;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border: solid 1px #F8F8F8;
  color: #F8F8F8;
  background-color: transparent;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sec_cont .formulario .consulta {
    width: 650px;
    font-size: 20px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .sec_cont .formulario .consulta {
    width: 230px;
    font-size: 20px;
  }
}
.sec_cont .formulario .consulta::placeholder {
  color: #F8F8F8;
}
.sec_cont .formulario .button {
  width: 185px;
  height: 60px;
  margin-top: 30px;
  font-family: "Noto Sans", sans-serif;
  font-size: 36px;
  color: #F8F8F8;
  border: solid 1px #F8F8F8 !important;
  margin-bottom: 60px;
  border: 0;
  background-color: #F54E34;
  align-items: center !important;
  align-content: center !important;
  text-align: center !important;
}

.footer {
  width: 100%;
  border: 1px solid #F8F8F8;
  box-sizing: border-box;
  background-image: url(img/IMG_5962_2.jpg);
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
  color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.footer h1 {
  margin-top: 30px;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
.footer .cardrrss {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 30px;
  padding-left: 400px;
  padding-right: 400px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .footer .cardrrss {
    flex-direction: column;
  }
}
.footer .rrss {
  width: 92px;
  height: 92px;
}
.footer h2 {
  margin-top: 15px !important;
  font-size: 24px;
  text-align: center !important;
  color: #F8F8F8;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}
.footer .footer_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 36px;
}
.footer .datos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  margin-top: 15px;
  padding-left: 400px;
  padding-right: 400px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .footer .datos {
    flex-direction: column;
  }
}
.footer .datos .fono {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
}
.footer .datos .fono img {
  width: 43px;
  height: 38px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .footer .datos .fono {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
}
.footer .datos .correo {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
}
.footer .datos .correo img {
  width: 53px;
  height: 29px;
}
@media (min-width: 320px) and (max-width: 991px) {
  .footer .datos .correo {
    flex-direction: column;
    align-items: center;
    font-size: 18px;
  }
}
.footer .footer_2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Noto Sans", sans-serif;
  margin-top: 60px;
  margin-bottom: 30px;
}